/* layout */

.basketHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1004px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-bottom: 9px;
    border-bottom: solid 4px #27303f;
}
.basketHead__columns{
    justify-content: space-between;
}

.basketHead__columns__column{
    display: flex;
    align-items: center;
}

/* style */


.basketHead__headIcon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.basketHead__headText{
    font-size: 32px;
    font-family: 'NotoSansKR';
    font-weight: 800;
    color: #27303f;
}

.basketHead__chapterIcon{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.basketHead__text{
    font-size: 18px;
    font-family: 'NotoSansKR';
    color: #282b2b;
    margin-right: 5px;
}

.basketHead__arrow p{
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    margin-right: 5px;
}
