/* layout */

.myPageCategoryBar{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.myPageCategoryBar__columns{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 1004px;
    height: 58px;
    border: solid 1px #c8c6c7;
}

/* style */

.myPageCategoryBar__columns__column{
    width: 170px;
    height: 26px;
    border-right: solid 1px #c8c6c7;
}

.myPageCategoryBar__columns__column:last-child{
    border: none;
}
.myPageCategoryBar__text{
    font-size: 12px;
    font-family: 'NotoSansKR';
    color: #474643;
    line-height: 26px;
    vertical-align: middle;
    text-decoration: none;
    color: #444444;
    padding-left: 22px;
}

.myPageCategoryBar__text a{
    width: 100%;
}