/* layout */

.sellerPageCategory{
    display: flex;
    justify-content: center;
    background-color: #03a9ff;
}

.sellerPageCategory__columns{
    width: 1004px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27303f;
    height: 34px;
}

.sellerPageCategory__columns__column{
    width: 300px;
    text-align: center;
    color: white;
    font-size: 13px;
    border-right: solid 1px #767676;
}

.sellerPageCategory__category{
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-family: 'NotoSansKR';
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}
