/* layout */

.serchIdPasswordBenefit{
    width: 834px;
    height: 173px;
    background-color: #ffffff;
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 30px;
    /* display: flex;
    align-items: center; */
}

/* style */

.serchIdPasswordBenefit__headText{
    font-size: 18px;
    font-family: 'NotoSansKR';
    font-weight: bold;
    color: #27303f;
    margin-bottom: 15px;
}

.serchIdPasswordBenefit__infoText{
    font-size: 12px;
    font-family: 'NotoSansKR';
    color: #767676;
    margin-top: 8px;
}