<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/globalcss.css">
    <link rel="stylesheet" href="./public/css/header.css">
    <link rel="stylesheet" href="./public/css/topAppBar.css">
    <link rel="stylesheet" href="./public/css/category.css">
    <link rel="stylesheet" href="./public/css/enterprise.css">
    <link rel="stylesheet" href="./public/css/semiFooter.css">
    <link rel="stylesheet" href="./public/css/footer.css">
    <link rel="stylesheet" href="./public/css/leftAside.css">
    <link rel="stylesheet" href="./public/css/rightAside.css">

    <link rel="stylesheet" href="./public/css/myPageCategoryBar.css">
    <link rel="stylesheet" href="./public/css/myPageHeadText.css">
    <link rel="stylesheet" href="./public/css/changeInformationTable.css">
    <link rel="stylesheet" href="./public/css/changeInformationButton.css">

</head>
<body>
    <div id="container">
        
        <header class="header">
            <div class="header__columns">
                <div class="header__columns__column">
                    <a href="#">
                        <img src="./public/images/Group 103.png" alt="star" class="bookmarkIcon" width="15px" height="15px">
                        즐겨찾기
                    </a>
                </div>
                <div class="header__columns__column"><a href="./login.html">로그인</a></div>
                <div class="header__columns__column"><a href="./membership.html">회원가입</a></div>
                <div class="header__columns__column"><a href="./orderDelivery.html">주문조회배송</a></div>
                <div class="header__columns__column"><a href="./shopping__basket.html">장바구니</a></div>
                <div class="header__columns__column"><a href="./wishList.html">마이페이지</a></div>
                <div class="header__columns__column"><a href="./clientCenter.html">고객센터</a></div>
            </div>
        </header>

        <section class="topAppBar">
            <div class="topAppBar__columns logo">
                <img src="./public/images/KakaoTalk_20201102_194331292.png" alt="소셜임팩트" class="subLogo">
                <a href="./index.html"><img src="./public/images/상생Mall.png" alt="상생몰" class="mainLogo"></a>
            </div>
            <div class="topAppBar__columns serch">
                <div class="topAppBar__columns__column">
                    <select name="serch" id="">
                        <option value="" selected="selected">전체선택</option>
                    </select>
                </div>
                <div class="topAppBar__columns__column">
                    <input type="text">
                </div>
                <div class="topAppBar__columns__column iconBox">
                    <a href="#"><img src="./public/images/baseline-search-24px.png" alt="검색" class="serchIcon"></a>
                </div>
            </div>
        </section>

        <section class="categoryBar">
            <div class="categoryBar__columns">
                <div class="categoryBar__columns__menu">
                    <img src="./public/images/ic_menu_24px_2.png" alt="menu">
                    <p>카테고리</p>
                </div>
                <div class="dropdown">
                    <a href="./serch__health.html">건강/뷰티</a>
                    <a href="./serch__food.html">식품</a>
                    <a href="./serch__livingItem.html">생활용품</a>
                    <a href="./serch__officeItem.html">사무용품</a>
                    <a href="./serch__culture.html">교육/문화</a>
                    <a href="./serch__service.html">용역</a>
                    <a href="./serch__rental.html">렌탈</a>
                    <a href="./serch__safetyItem.html">안전용품</a>
                    <a href="./serch__car.html">자동차</a>
                    <a href="./serch__etc.html">기타</a>
                </div>
            </div>
        </section>
        
        <section class="myPageHead">
            <div class="myPageHead__columns">
                <div class="myPageHead__columns__column">
                    <p class="myPageHead__headText">정보수정</p>
                </div>
            </div>
        </section>

        <section class="myPageCategoryBar">
            <div class="myPageCategoryBar__columns">
                <div class="myPageCategoryBar__columns__column">
                    <a href="./orderDelivery.html" class="myPageCategoryBar__text">주문배송조회</a>
                </div>
                <div class="myPageCategoryBar__columns__column">
                    <a href="./wishList.html" class="myPageCategoryBar__text">위시리스트</a>
                </div>
                <div class="myPageCategoryBar__columns__column">
                    <a href="./changeInformation.html" class="myPageCategoryBar__text">정보수정</a>
                </div>
                <div class="myPageCategoryBar__columns__column">
                    <a href="./employmentCharge.html" class="myPageCategoryBar__text">고용부담금 감면액 계산</a>
                </div>
            </div>          
        </section>
        
        <section class="changeInformationTable">
            <div class="changeInformationTable__columns">
                <table class="changeInformationTable__table">
                    
                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">이름</td>
                        <td class="changeInformation__table__row"><input type="text" class="changeInformation__input__name"></td>
                    </tr>

                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">아이디</td>
                        <td class="changeInformation__table__row"><p class="changeInformation__id">ssmall</p></td>
                    </tr>

                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">비밀번호</td>
                        <td class="changeInformation__table__row"><input type="text" class="changeInformation__input__password"></td>
                    </tr>

                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">비밀번호 확인</td>
                        <td class="changeInformation__table__row"><input type="text" class="changeInformation__input__password"></td>
                    </tr>

                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">E-mail</td>
                        <td class="changeInformation__table__row"><input type="text" class="changeInformation__input__email"></td>
                    </tr>

                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">전화번호</td>
                        <td class="changeInformation__table__row">
                            <input type="text" class="changeInformation__input__phoneNumber">
                            <span class="changeInformation__hyphen">-</span>
                            <input type="text" class="changeInformation__input__phoneNumber">
                            <span class="changeInformation__hyphen">-</span>
                            <input type="text" class="changeInformation__input__phoneNumber">
                        </td>
                    </tr>
                    
                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">휴대폰번호</td>
                        <td class="changeInformation__table__row">
                            <input type="text" class="changeInformation__input__cellPhoneNumber">
                            <span class="changeInformation__hyphen">-</span>
                            <input type="text" class="changeInformation__input__cellPhoneNumber">
                            <span class="changeInformation__hyphen">-</span>
                            <input type="text" class="changeInformation__input__cellPhoneNumber">
                        </td>
                    </tr>
                    
                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">팩스번호</td>
                        <td class="changeInformation__table__row"><input type="text" class="changeInformation__input__faxNumber"></td>
                    </tr>
                    
                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">우편번호</td>
                        <td class="changeInformation__table__row">
                            <input type="text" class="changeInformation__input__zipCode">
                            <button type="button" class="zipCode__serchButton">우편번호 찾기</button>
                        </td>
                    </tr>
                    
                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">주소</td>
                        <td class="changeInformation__table__row"><input type="text" class="changeInformation__input__address"></td>
                    </tr>
                    
                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">상세주소</td>
                        <td class="changeInformation__table__row"><input type="text" class="changeInformation__input__address"></td>
                    </tr>
                    
                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">SMS 서비스</td>
                        <td class="changeInformation__table__row SMS">
                            <span class="changeInformation__SMS__text">고객님의 주문정보와 관련된 SMS를 수신하시겠습니까?</span>
                            <input type="radio" class="changeInformation__input__SMS" name="SMS" checked><span class="SMS__reception">수신</span>
                            <input type="radio" class="changeInformation__input__SMS" name="SMS"><span class="SMS__noneReception">비수신</span>
                        </td>
                    </tr>
                    
                    <tr class="changeInformation__table__line">
                        <td class="changeInformation__table__row">뉴스레터 수신</td>
                        <td class="changeInformation__table__row newsLetter">
                            <span class="changeInformation__newsLetter__text">고객님의 주문정보와 뉴스레터를 수신하시겠습니까?</span>
                            <input type="radio" class="changeInformation__input__newsLetter" name="newsLetter" checked>
                            <span class="newsLetter__reception">수신</span>
                            <input type="radio" class="changeInformation__input__newsLetter" name="newsLetter">
                            <span class="newsLetter__noneReception">비수신</span>
                        </td>
                    </tr>

                </table>
            </div>
        </section>

        <section class="changeInformationButton">
            <div class="changeInformationButton__columns">
                <div class="changeInformationButton__columns__column">
                    <button type="button" class="changeInformationButton__button">회원정보 수정</button>
                </div>
            </div>
        </section>

        <section class="enterprise">
            <div class="enterprise__columns">
                <div class="enterprise__columns__column">
                    <a href="#">
                        <img src="./public/images/KakaoTalk_20201102_194331292.png" alt="" width="182px">
                    </a>
                </div>
                <div class="enterprise__columns__column">
                    <a href="#">
                        <img src="./public/images/KakaoTalk_20201102_194331292.png" alt="" width="182px">
                    </a>
                </div>
                <div class="enterprise__columns__column">
                    <a href="#">
                        <img src="./public/images/KakaoTalk_20201102_194331292.png" alt="" width="182px">
                    </a>
                </div>
                <div class="enterprise__columns__column">
                    <a href="#">
                        <img src="./public/images/KakaoTalk_20201102_194331292.png" alt="" width="182px">
                    </a>
                </div>

            </div>
        </section>

        <section class="semiFooter">
            <div class="semiFooter__columns">
                <div class="semiFooter__columns__column">
                    <div class="semiFooter__text"><a href="#"><p class="mr-left-zero">회사소개</p></a></div>
                    <div class="semiFooter__text"><a href="#"><p>제휴문의</p></a></div>
                    <div class="semiFooter__text"><a href="#"><p>개인정보보호정책</p></a></div>
                    <div class="semiFooter__text"><a href="#"><p>이용약관</p></a></div>
                </div>

                <div class="semiFooter__columns__column visitant">
                    <div class="semiFooter__today">
                        <p>TODAY</p>
                        <p class="today__visitant">0,000</p>
                        <p class="semiFooter__sliceBar">/</p>
                    </div>
                    <div class="semiFooter__total">
                        <p>TOTAL</p>
                        <p class="total__visitant">0,000,000</p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__columns">
                <div class="footer__columns__column firstLine">
                    <div class="footer__text">
                        <p>상생몰</p>
                    </div>
                    <div class="footer__text">
                        <p>대표: 김이박</p>
                    </div>
                    <div class="footer__text">
                        <p>사업자등록번호: 000-00-00000</p>
                    </div>
                    <div class="footer__text">
                        <p>통신판매신고업: 제0000-0000-00000호</p>
                    </div>
                </div>

                <div class="footer__columns__column secondLine">
                    <div class="footer__text">
                        <p>서울특별시 마포구 동교로 13길</p>
                    </div>
                    <div class="footer__text">
                        <p>개인정보취급관리자: 김이박</p>
                    </div>
                    <div class="footer__text">
                        <p>고객상담: 1666-1666</p>
                    </div>
                </div>

                <div class="footer__columns__column thirdLine">
                    <div class="footer__text">
                        <p>Copyright@2020 sum.All rights Reserved.</p>
                    </div>
                    <div class="footer__confirm">
                        <a href="#">사업자정보확인</a>
                    </div>
                </div>
            </div>
        </footer>

        <aside class="leftAside clientCenter">
            <div class="leftAside__columns">
                <div class="leftAside__columns__column">
                    <a href="#">
                    <div class="leftAside__icon"><img src="./public/images/baseline-search-24px_2.png" alt=""></div>
                    <div class="leftAside__text"><p>1:1 문의</p></div>
                    </a>
                </div>
            </div>


            <div class="leftAside__columns">
                <div class="leftAside__columns__column">
                    <a href="#">
                    <div class="leftAside__icon"><img src="./public/images/baseline-search-24px_3.png" alt=""></div>
                    <div class="leftAside__text"><p>입점문의</p></div>
                    </a>
                </div>
            </div>


            <div class="leftAside__columns">
                <div class="leftAside__columns__column">
                    <a href="#">
                    <div class="leftAside__icon"><img src="./public/images/baseline-search-24px_4.png" alt=""></div>
                    <div class="leftAside__text"><p>공지사항</p></div>
                    </a>
                </div>
            </div>


            <div class="leftAside__columns">
                <div class="leftAside__columns__column">
                    <a href="#">
                    <div class="leftAside__icon"><img src="./public/images/baseline-search-24px_5.png" alt=""></div>
                    <div class="leftAside__text"><p>이용안내</p></div>
                    </a>
                </div>
            </div>


            <div class="leftAside__columns">
                <div class="leftAside__columns__column">
                    <a href="#">
                    <div class="leftAside__icon"><img src="./public/images/baseline-search-24px_6.png" alt=""></div>
                    <div class="leftAside__text"><p>입점기업정보</p></div>
                    </a>
                </div>
            </div>
        </aside>

        <aside class="rightAside clientCenter">
            <div class="rightAside__columns">
                <div class="rightAside__columns__column textBox">
                    <div class="rightAside__headText">
                        <p>최근 본 상품</p>
                    </div>
                </div>
            </div>

            <div class="rightAside__columns border">
                <div class="rightAside__columns__column">
                    <div class="rightAside__img">
                        <img src="./public/images/thom-bradley-Jr-uu7X9dlE-unsplash.jpg" alt="">
                    </div>
                    <div class="rightAside__img">
                        <img src="./public/images/thom-bradley-Jr-uu7X9dlE-unsplash.jpg" alt="">
                    </div>
                    <div class="rightAside__img">
                        <img src="./public/images/thom-bradley-Jr-uu7X9dlE-unsplash.jpg" alt="">
                    </div>
                    <!-- <div class="rightAside__img">
                        <img src="./public/images/thom-bradley-Jr-uu7X9dlE-unsplash.jpg" alt="">
                    </div>
                    <div class="rightAside__img">
                        <img src="./public/images/thom-bradley-Jr-uu7X9dlE-unsplash.jpg" alt="">
                    </div> -->
                </div>
            </div>

        </aside>

    </div>
    <script src="./public/js/category.js"></script>
</body>
</html>